*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

header {
    background: black;
    flex: 0.1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .logo{
    font-size: 25px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
}

nav li{
    display: inline-block;
}

nav li a{
    display: inline-block;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    transition: 0.6s;
}

nav li a:hover{
    background-color: rgb(25, 226, 52);
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #333;
}

.container div{
    flex: 1 1 0;
} 

.copyright{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    background-color: black;
    color: white;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding: 12px;
}

.projetos{
    display: flex;

}

.one{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 2px grey; /*sombras da div*/
    border: 10px solid white; /*uma borda para a div*/
    transition: 1s;
    cursor: pointer; /*aparecer o mouse para clicar*/

    background-image: url(imagens/personagem-monkey-d-luffy450.png); /*deixar a imagem como fundo e ficar centralizada naquela div*/
}

.one:hover{
    border: 10px solid red; /*quando passar o mouse por cima mudar a cor da borda*/
    transition: 1s;
    
}

.projeto2{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 2px grey;
    border: 10px solid white;
    cursor: pointer;
    transition: 1s;
}

.projeto2:hover{
    border: 10px solid red;
    transition: 1s;
}

.projeto3{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 2px grey;
    border: 10px solid white;
    transition: 1s;
    cursor: pointer;
}

.projeto3:hover{
    border: 10px solid red;
    transition: 1s;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding: 100px;
    transition: 1s;
}

h3:hover{
    color: red;
    transition: 1s;
}

a{
    text-decoration: none; /*tirar a decoração do link*/
}